.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  height: 80px;
  border-bottom: 1px solid var(--color-gray-200);
}

.container {
  width: 1216px;
  margin: 0 auto;  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-container{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-gray-300);
  width: 448px;
  height: 42px;
  padding: 8px;
  border-radius: 10px;
}

.input-style{
  border: none;      
  outline: none;  
  font-size: 16px;
  width: 100%;  
}

.input-container:focus-within {
  border: 3px solid var(--color-orange-500);
}

.logo-section {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing)*2);
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-orange-500);
  border-radius: 50%;
}

.LuPawPrint {
  width: 24px;
  height: 24px;
  color: #ffffff;
}

.main-logo {
  height: 40px;
  width: 40px;
  background-color: var(--color-orange-600);
  border-radius: 10px;    
  font-size: 20px;
  color: white;
  font-weight: bolder;
  line-height: 40px;        
  text-align: center;       
}

.logo {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-semibold);
  color: var(--text-gray-900);
  font-weight: bold;
}

.nav-menu {
  display: flex;
  gap: 32px;
  /* margin-left: -50px;  - убираем, это плохая практика */
}

.nav-menu a {
  text-decoration: none;
  color: var(--color-gray-700);
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  transition: color 0.2s ease;
}

.nav-menu a:hover {
  color: var(--color-orange-500);
}

.actions {
  display: flex;
  align-items: center;
  gap: 32px;
}

.cart-icon {
  width: 20px;
  height: 20px;
  color: #333;
  cursor: pointer;
}

.search-icon {
  width: 20px;
  height: 20px;
  color: var(--color-gray-400);
  cursor: pointer;
}

@media(max-width: 48rem){
  .input-container{
    display: none;
  }
  .nav-menu{
    display: none;
  }
}

@media(max-width: 64rem){
  .logo {
    display: none;
  }
  .input-container{
    width: 305px;
  }
}