.header {
    display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start; 
  background-color: var(--color-white);
  height: auto;  
  min-height: 80px; 
  border-bottom: 1px solid var(--color-gray-200);
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  z-index: 1000;
  padding-left: 32px;
  padding-right: 32px;
  
}

.header-container {
 width: 100%;  
  max-width: 1216px;  
 height: 80px;
  margin: 0 auto;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--spacing) * 4);
}

.input-container{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-gray-300);
    width: 100%;
  max-width: 448px; 
  min-width: 200px; 
  height: 42px;
  padding: 8px 12px;
  border-radius: 10px;
}

.input-style{
  border: none;      
  outline: none;  
  font-size: 16px;
  width: 100%;  
  
}
.input-style::placeholder {
  color: var(--color-gray-400); 

}

.input-container2{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-gray-300);
  
  height: 42px;
  padding: 8px 12px;
  border-radius: var(--radius);
  margin-bottom: calc(var(--spacing) * 4);
  width: 100%;
}
.input-style2{
  width: 100%;
  font-size: 16px;
   
  border: none;      
  outline: none;  
    
    
}
.input-style2::placeholder {
  color: var(--color-gray-400); 

}

.input-container:focus-within,  .input-container2:focus-within{
  border: 3px solid var(--color-orange-500);
}
a {
  text-decoration: none;
  color: inherit;
}
.logo-section {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing)*2);
  cursor: pointer ;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-orange-500);
  border-radius: 50%;
}

.LuPawPrint {
  width: 24px;
  height: 24px;
  color: #ffffff;
}

.main-logo {
  height: 40px;
  width: 40px;
  background-color: var(--color-orange-600);
  border-radius: 10px;    
  font-size: 20px;
  color: white;
  font-weight: bolder;
  line-height: 40px;        
  text-align: center;       
}

.logo {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-semibold);
  color: var(--text-gray-900);
  font-weight: bold;
}

.nav-menu, .nav-menu2{
  display: flex;
  gap: calc(var(--spacing) * 8);
}


.nav-menu a, .nav-menu2 a{
  text-decoration: none;
  color: var(--color-gray-700);
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  transition: color 0.2s ease;
}

.nav-menu a:hover {
  color: var(--color-orange-500);
}

.actions {
  display: flex;
  align-items: center;
  gap: 32px;
}
.actions a {
    position: relative;
    display: inline-flex;
}
.actions a span {
    position: absolute;
    color: var(--color-white);
    top: -12px;
    right: -12px;
    background-color: var(--color-orange-600);
    font-size: var(--text-xs);
    line-height: 16px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-icon, .menu-icon {
  width: 20px;
  height: 20px;
  color: var(--color-gray-600);
  cursor: pointer;
}
.cart-icon:hover {
  color: var(--color-orange-500);
}

.search-icon {
  width: 20px;
  height: 20px;
  color: var(--color-gray-400);
  cursor: pointer;
}

.hide{
    display: none;
}

.hide-button{
    display: none;
}
.md-nav{
    padding-block: calc(var(--spacing) * 4);
    border-top: 1px solid var(--color-gray-200);
    max-width: 1216px;
    width: 100%;
}
.md-nav.show {
  display: block;
}

@media(max-width: 48rem){
  .input-container{
    display: none;
  }
  .nav-menu{
    display: none;
  }
  .hide{
    display: inline;
  }
}

@media(max-width: 64rem){
  .logo {
    display: none;
  }
  .nav-menu{
  gap: calc(var(--spacing) * 6);
  }
  .header {
    display: flex;
  padding-right: 24px;
  
}
  .hide-button{
    display: none;
    }
}