.cartPage-container{
    max-width: var(--container-7xl);
    margin-inline: auto;
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 8);
}

.cartPage-container h1{
    font-size: var(--text-3xl);
    line-height: 36px;
    font-weight: 700;
    color: var(--color-gray-900);
    margin-bottom: calc(var(--spacing) * 8);
}

.shopping-cart-grid{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: calc(var(--spacing) * 8);
}

.flex-column-block{
    display: flex;
    flex-direction: column;
}

.cart-products-container{
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius);
}
.cart-products-container-title{
    display: none;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: calc(var(--spacing) * 4);
    padding: calc(var(--spacing) * 6);
    border-bottom: 1px solid var(--color-gray-200);
    font-size: var(--text-sm);
    line-height: 20px;
    font-weight: 600;
    color: var(--color-gray-600);
}
.cart-products-container-title-first{
    grid-column: span 6 / span 6;
}
.cart-products-container-title-others{
    grid-column: span 2 / span 2;
    text-align: center;
}
.cart-products-container-title-last{
    grid-column: span 2 / span 2;
    text-align: right;
}

.products-list-container{
    padding: calc(var(--spacing) * 4);
}
.product-card-grid{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: calc(var(--spacing) * 4);
    align-items: center;
}
.product-block{
    display: flex;
    gap: calc(var(--spacing) * 4);
}
.product-block a img{
    width: calc(var(--spacing) * 20);
    height: calc(var(--spacing) * 20);
    object-fit: cover;
    border-radius: var(--radius);
}
.product-block div{
    flex: 1;
}
.product-block div a{
    font-weight: 600;
    color: var(--color-gray-900);
}
.product-block div a:hover{
    color: var(--color-orange-600); 
}
.product-block div p{
    font-size: var(--text-sm);
    line-height:20px;
    color: var(--color-gray-600);
    margin-top: calc(var(--spacing) * 1);
}
.product-block div button{
        background-color: transparent;
        border: none;
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 1);
    font-size: var(--text-sm);
    line-height: 20px;    
    color: var(--color-red-600);
    margin-top:calc(var(--spacing) * 2);
    font-weight: 500;
}
.product-block div button:hover{
    color: var(--color-red-700);
}
.product-block div button svg{
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);   
}
.price-block-txt{
    color: var(--color-gray-600);
    font-size: var(--text-sm);
    line-height: 24px;
    margin-right: 4px;
}
.price-block-pr{
    font-weight: 600;
}
.quantity-block-q{
    display: flex;
    justify-content: flex-start; 
}
.quantity-container-q{
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--radius);
}
.quantity-container-q button{
    width: calc(var(--spacing) * 7);
    height: calc(var(--spacing) * 8);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border: none;
     border-radius: var(--radius); 
}
.quantity-container-q button:hover{
    background-color: var(--color-gray-50);
}
.quantity-container-q span{
    width: calc(var(--spacing) * 12);
    text-align: center;
    font-weight: 600;
}
.p-m-style{
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
}
.total-block{
    display: flex;
        justify-content: space-between;
    align-items: center;
}
.total-block span{
    font-weight: 700;
    font-size: var(--text-lg);
    line-height: 28px;
}
.total-block button{
     background: none;
    border: none;
    margin-left: calc(var(--spacing) * 2);
    color: var(--color-red-600);
    display: none;
}
.total-block button:hover{
    color: var(--color-red-700);
}
.trash-icon{
    width: calc(var(--spacing) * 5);
    height: calc(var(--spacing) * 5);
}

.promo-code-container{
    padding: calc(var(--spacing) * 6);
    margin-top: calc(var(--spacing) * 6);
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius);
}
.promo-code-container h3{
    font-weight: 600;
    margin-bottom: calc(var(--spacing) * 3);
}
.promo-code-input-block{
    display:flex;
    gap: calc(var(--spacing) * 2);
    flex-direction: column ;
}
.promo-code-input-block input{
    flex: 1;
        padding-inline: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 2);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--radius);
    outline: none;
}
.promo-code-input-block input:focus{
    border-color: var(--color-orange-500);
    box-shadow: 0 0 0 2px var(--color-orange-500); 
}
.promo-code-input-block input::placeholder {
    font-size: 16px; 
}
.promo-code-input-block button{
    padding-inline: calc(var(--spacing) * 6);
    padding-block: calc(var(--spacing) * 2);
    background-color: var(--color-orange-600);
    border: none;
    border-radius: var(--radius);
    color: var(--color-white);
    font-weight: 600;
}
.promo-code-input-block button:hover{
    background-color: var(--color-orange-700);
}

.order-summary-container{
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius);
    padding: calc(var(--spacing) * 6);
    position: sticky;
    top: calc(var(--spacing) * 24);
}
.order-summary-container h2{
    margin-bottom: calc(var(--spacing) * 6);
    font-size: var(--text-xl);
    line-height: 28px;
    font-weight: 700;
}
.summary-info-block{
    margin-bottom: calc(var(--spacing) * 6);
    padding-bottom: calc(var(--spacing) * 6);
    border-bottom: 1px solid var(--color-gray-200);
}
.summary-info-block div{
    display: flex;
    justify-content: space-between;
    color: var(--color-gray-700);
}
.total-summary-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(var(--spacing) * 6);
    font-size: var(--text-xl);
    line-height: 28px;
    font-weight: 700;
}
.proceed-to-checkout-btn{
    width: 100%;
    padding-block: calc(var(--spacing) * 4);
    background-color: var(--color-orange-600);
    color: var(--color-white);
    font-weight: 600;
    font-size: var(--text-base);
    line-height: 1.5;
    border:none;
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--spacing) * 4);
    gap: calc(var(--spacing) * 2);
    transition: background-color 0.2s ease;
}
.proceed-to-checkout-btn:hover{
    background-color: var(--color-orange-700);
}
.continue-shopping-btn{
    display: block;
    width: 100%;
    padding-block: calc(var(--spacing) * 3);
    text-align: center;
    border: 1px solid var(--color-gray-300);
    border-radius: var(--radius);
    transition: background-color 0.2s ease;
    background-color: white;
    font-weight: 400;
    font-size: var(--text-base);
    line-height: 1.5;
}
.continue-shopping-btn:hover{
    background-color:  var(--color-gray-50);
}

.shipping-information-container{
    padding: calc(var(--spacing) * 6);
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius);
    margin-top: calc(var(--spacing) * 6);
}
.shipping-information-container h3{
    margin-bottom: calc(var(--spacing) * 4);
    font-weight: 600;
}
.shipping-information-blocks div{
    display: flex;
    align-items: flex-start;
    gap: calc(var(--spacing) * 3);
}
.shipping-info-text-wrapper{
    display: flex;
    flex-direction: column; 
}
.marg-bott{
    margin-bottom: calc(var(--spacing) * 3);;
}
.shipping-information-icon{
    color: var(--color-orange-600);
    flex-shrink: 0;
    width: calc(var(--spacing) * 5);
    height: calc(var(--spacing) * 5);
}
.shipping-info-tittle{
    font-size: var(--text-sm);
    line-height: 20px;
    font-weight: 500;
    margin-bottom: -13px; 
}
.shipping-info-text{
    font-size: var(--text-sm);
    line-height: 20px;
    color: var(--color-gray-600);
    max-width: 140px;   
    word-wrap: break-word; 
}



@media (min-width: 40rem) { 
    .cartPage-isEmpty-container{
        padding-inline: calc(var(--spacing) * 6);
    }
    
}

@media (min-width: 48rem) {
    .cartPage-container h1{
        font-size: var(--text-4xl);
        line-height: 40px;
    }
    .cart-products-container-title{
        display: grid;
    }
    .products-list-container{
        padding: calc(var(--spacing) * 6);  
    }
    .product-card-grid{
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    .product-block{
        grid-column: span 6 / span 6;
    }
    .product-block a img{
        width: calc(var(--spacing) * 24);
        height: calc(var(--spacing) * 24);
    }
    .product-block div button{
        display: none;
    }
    
    .price-block{
        text-align: center;
        grid-column: span 2 / span 2;
    }
    .price-block-txt{
        display: none;
    }

    .quantity-block-q{
        grid-column: span 2 / span 2;
        justify-content: center;
    }

    .total-block{
        justify-content: flex-end;
        grid-column: span 2 / span 2;
    }
    .total-block button{
        display: block;
    }
    
    .promo-code-input-block{
        flex-direction: row;
}
}

@media (min-width: 64rem) {
    .cartPage-isEmpty-container {
        padding-inline: calc(var(--spacing) * 8);
    }
    .shopping-cart-grid{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .flex-column-block{
        grid-column: span 2 / span 2;
    }
    .sum-info-container{
        grid-column: span 1 / span 1;
    }
    
}

@media (min-width: 64rem) and (max-width: 70rem) {
    .total-block span{
        font-size: 16px;
    }
    .total-block button{
        margin-left: calc(var(--spacing) * 1);
    }
}